{% load i18n %}
{% load delft_tags %}
<footer class="gn-footer footer-wrapper">
    <div style="display: flex; width: 100%; align-items: center">
        <a class="footer-item" href="https://www.un-ihe.org/" target="_blank"
           title="un-ihe">
            <img src="/static/img/logo/short-white.svg#white" height="26"/>
        </a>
        <div class="footer-item" style="padding-left: 15px">
            {% trans "Web site developed by" %}&nbsp;
        </div>
        <a class="footer-item" href="https://kartoza.com/" target="_blank"
           title="Kartoza">
            <img src="/static/img/logo/kartoza-logo-white.svg" height="26"/>
        </a>
        <div style="text-align: right; flex-grow: 1">Version {% delft_version %}</div>
    </div>
</footer>
