{% load i18n %}

<footer class="gn-footer footer-wrapper">
    <div style="display: flex">
        <a class="footer-item" href="https://www.un-ihe.org/" target="_blank">
            <img src="/static/img/logo/short-white.svg#white" height="23"/>
        </a>
        <div class="footer-item" style="padding-left: 15px">
            {% trans "Web site developed by" %}&nbsp;
        </div>
        <a class="footer-item" href="https://kartoza.com/" target="_blank">
            <img src="/static/img/logo/kartoza-logo-white.svg" height="23"/>
        </a>
    </div>
</footer>
