{% load i18n %}
<div class="banner"
     style="{% if preferences.landing_page_banner %}background-image:url('{{ preferences.landing_page_banner }}')!important{% endif %}">
    <div class="container">
        <div class="separator"></div>
        <div class="banner-text">
            <h2>{% trans preferences.landing_page_banner_title %}</h2>
            <p>{% trans preferences.landing_page_banner_description|safe %}</p>
            <div style="display: flex; justify-content: space-between">
                <a href="/catalogue/#/search/">
                    <button class="other-button">
                        Find what you're looking for
                    </button>
                </a>
                <a href=" https://www.un-ihe.org/what-we-do/water-and-development-partnership-programme">
                    <button class="other-button">
                        More information about the programme
                    </button>
                </a>
            </div>
        </div>
    </div>

    <div class="background"></div>
</div>