{% load delft_tags %}
{% get_keyword_children_in_list keyword.slug as CHILDREN %}

<div class="col-lg-12 keyword-selection">
    <span><label>{{ keyword.name }}</label></span>
    <select id="{{ keyword.slug }}" multiple="multiple" required>
    </select>
</div>
<script>
  const children{{ keyword.id }} = {{ CHILDREN|safe }};
  keywordIds.push('#{{ keyword.slug }}');

  {# Init value #}
  children{{ keyword.id }}.filter(
    keyword => $('*[name="resource-keywords"]').val().includes(keyword)
  ).map(name => {
    $('#{{ keyword.slug }}').append(`<option value="${name}" selected="selected">${name}</option>`)
  })
  $('#{{ keyword.slug }}').select2({
    tags: {% if tags %}true{% else %}false{% endif %},
    maximumSelectionLength: 4,
    ajax: {
      url: '/autocomplete_hierachical_keyword_child/?parent={{ keyword.slug }}{% if not keyword.id %}&is_init=True{% endif %}',
      dataType: 'json',
      processResults: function (data) {
        return {
          results: data.results.map(item => {
            item.id = item.text;
            return item
          }),
          pagination: data.pagination
        };
      }
    },
  });
  $('#{{ keyword.slug }}').change(evt => {
    const values = []
    $('*[name="resource-keywords"]').html('')
    keywordIds.map(id => {
      $(id).val().map(name => {
        values.push(name)
        $('*[name="resource-keywords"]').append(`<option value="${name}" selected="selected">${name}</option>`)
      })
    })
    $('*[name="resource-keywords"]').val(values)
  })
</script>
